RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
Header set Access-Control-Allow-Origin "http://ec2-54-164-182-11.compute-1.amazonaws.com"
Header set Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"